[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]



[dev-packages]

coverage = "*"
pytest = "*"
"flake8" = "*"
monkeytype = "*"
mypy = "*"
codecov = "*"
codacy-coverage = "*"


[requires]

python_version = "3.7"
